html,
body {
  height: 100%;
  background-color: #e9e7e7;
  font-size: 13px;
  font-weight: 500;
}

.topbar-button-right {
  margin-left: 1rem !important;
}


  .topbar-button-right {
    margin-right: 1rem;
    margin-left: 0 !important;
  }

  .mat-menu-item {
    width: 48px;
    height: 48px;
    padding: 5px;
  }